@import 'reset';

* {
    box-sizing:border-box;
}
body {
    padding:0;
    margin:0;
}

.battle-frame {
    width:100%;
    height:100%;
}

.battle-container {
    display:flex;
    flex-direction: column;
    height:100%;
    //background:skyblue;
    background: linear-gradient(-330deg, #58a, #ff0090);
}


.battle-arena {
    overflow:hidden;
    width:100%;
    align-self:flex-start;
    height:70%;
    position:relative;
}

/* Combatants */
.battle-player {
    position:absolute;
    left:8%;
    bottom:-15%;
    transition: left 0.4s ease-out;

    width : 220px; /* Might need to have these be adaptive pixel sizes */
    height: 220px;

    //background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/svJacob-2.svg');
    background-repeat:no-repeat;
    background-size:400%;
    background-position: 100% 33.3%;

    &.is-introing {
        left: -70%;
    }
}
.battle-enemy {
    position:absolute;
    right:22%;
    transition: right 0.4s ease-out;
    top:13%;

    height:150px; /* Might need to have these be adaptive pixel sizes */
    width:150px;

    //background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/drew-orange.svg');
    background-repeat:no-repeat;
    background-size:400%;
    background-position: 33.3% 33.3%;

    &.is-introing {
        right: -22%;
    }

}


.battle-scoreboard-player,
.battle-scoreboard-enemy {
    font-family: "Source Code Pro", monospace;
    background: #323232;
    color: #fff;
    position: absolute;
    padding: 1.3vw;
    top: 68%;
    border-bottom: 0.5vw solid #111;
}

.battle-scoreboard-player {
    width: 30vw;
    left: 55vw;
    &:after {
        content: '';
        position: absolute;
        top: 48%;
        left: -1vw;
        border-top: 1.2vw solid transparent;
        border-bottom: 1.2vw solid transparent;
        border-right: 1.2vw solid #323232;
    }
}
.battle-scoreboard-enemy {
    left: 7%;
    top: 13%;
    width: 26vw;

    &:after {
        content: '';
        position: absolute;
        top: 48%;
        right: -1vw;
        border-top: 1.2vw solid transparent;
        border-bottom: 1.2vw solid transparent;
        border-left: 1.2vw solid #323232;
    }
}



.scoreboard-name {
    font-size: 3vw;
    margin-right: 1vw;
    text-transform: uppercase;
    position: relative;
    top: 0.3vw;
}
.scoreboard-level {
    font-size: 1.4vw;
    margin-right: 2vw;
    color: #DAD1DD;
}
.scoreboard-status {
    font-size: 1.4vw;
    color: #EF5063;
    text-transform:uppercase;
}

.player-scoreboard-stat {
    font-size: 1.3vw;
    &:not(:last-of-type) {
        margin-right: 2vw;
    }
}



/* MESSAGE BOARD / TERMINAL */

.message-board {
    width:100%;
    align-self:flex-end;
    height:30%;
    position:relative;
    z-index:10;
}
$window-header-height: 9%;
.terminal-header {
    height:$window-header-height;
    border-top:1px solid #F6F6F6;
    border-bottom:1px solid #686868;
    background-image: linear-gradient(-180deg, #EBEBEB 7%, #D3D3D3 100%);

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    line-height:9px;
    padding-left:3px;

    .terminal-header-color-circle {

        width: 7px;
        height: 7px;
        border-radius:50%;
        background:#333;
        display:inline-block;
        margin-right:5px;
        &.red { background: #F56059; border: 1px solid darken(#F56059, 7%) }
        &.green { background: #42CE42; border: 1px solid darken(#42CE42, 7%) }
    }
}
.terminal-body {
    font-family: "Source Code Pro", monospace;
    background:#333;
    color:#fff;
    padding:2%;
    height:100% - $window-header-height;
    font-size:2vw;
}

.terminal-items-list {
    width:100%;
    padding:0;
    margin:0;
}

.terminal-item {
    &.terminal-item-active {
        background: rgba(#fff, 0.95);
        color: #333;
    }
    td {
        padding-top:2px;
        padding-bottom:2px;
    }
    td.command-title {width:26%;}
    td.command-price-quantity {
        width:8%;
    }
    td.command-description {width:66%;}
}
