* {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}


.mobile-dpad {
    position: absolute;
    width: 180px;
    height: 180px;
    //background: red;
    pointer-events: none;

    &.dpad-active {
        //background: lighten(wheat,7%);

        .dot {
            opacity:1;
            transform:translate3d(0,0,0) !important;
        }
    }


    .circle {
        $circle-size: 60px;
        border-radius: 50%;
        position: absolute;
        width: $circle-size;
        height: $circle-size;
        border: 1vw solid rgba(white, 0.6);
        left:50%;
        top:50%;
        margin-left: -$circle-size/2;
        margin-top: -$circle-size/2;
        z-index: 12;
        pointer-events:none;
    }
    .hitbox {
        //visibility: hidden;
        position: absolute;
        z-index: 11;
        $hitbox-size: 60px;
        width: $hitbox-size;
        height: $hitbox-size;
        //background: darken(wheat, 12%);
        //background:

        &.hb-active {
            visibility: visible;
            svg {
                path {
                    fill: rgba(255,255,255,0.6);
                }
            }
            //background: rgba(white, 0.5);
        }

        &.hb-up {
            top:0; left: 50%; margin-left:-$hitbox-size/2;
            svg {
                left: 50%;
                transform: rotate(180deg) translateX(50%);
            }
        }
        &.hb-down {
            bottom:0; left: 50%; margin-left:-$hitbox-size/2;
            svg {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &.hb-left {
            top:50%; left: 0; margin-top:-$hitbox-size/2;
            svg {
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &.hb-right {
            top:50%; right: 0; margin-top:-$hitbox-size/2;
            svg {
                right: 0;
                top: 50%;
                transform: rotate(180deg) translateY(50%);
            }
        }

        svg {
            position:absolute;
        }

    }


}