* {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}


.mobile-dpad {
    position: absolute;
    width: 120px;
    height: 120px;
    background: wheat;

    &.dpad-active {
        //background: lighten(wheat,7%);

        .dot {
            opacity:1;
            transform:translate3d(0,0,0) !important;
        }
    }


    .circle {
        $circle-size: 40px;
        border-radius: 50%;
        position: absolute;
        width: $circle-size;
        height: $circle-size;
        border: 1vw solid rgba(white, 0.6);
        left:50%;
        top:50%;
        margin-left: -$circle-size/2;
        margin-top: -$circle-size/2;
        z-index: 12;
    }
    .hitbox {
        visibility: visible;
        position: absolute;
        z-index: 11;
        $hitbox-size: 40px;
        width: $hitbox-size;
        height: $hitbox-size;
        background: darken(wheat, 12%);

        &.hb-active {
            visibility: visible;
            background: rgba(white, 0.5);
        }

        &.hb-up { top:0; left: 50%; margin-left:-$hitbox-size/2; }
        &.hb-down { bottom:0; left: 50%; margin-left:-$hitbox-size/2; }
        &.hb-left { top:50%; left: 0; margin-top:-$hitbox-size/2; }
        &.hb-right { top:50%; right: 0; margin-top:-$hitbox-size/2; }
    }

    .dot {
        z-index:13;
        pointer-events: none;
        width: 3vw;
        height: 3vw;
        position: absolute;
        background: rgba(white, 0.7);
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;

        $dot-distance: 10vw;
        &.dot-left {
            top:50%;
            margin-top:-1.5vw;
            left:0;
            margin-left: 3vw;
            transform:translate3d($dot-distance,0,0);
        }
        &.dot-right {
            top:50%;
            margin-top:-1.5vw;
            right:0;
            margin-right: 3vw;
            transform:translate3d(-$dot-distance,0,0);
        }
        &.dot-up {
            top:0;
            margin-left:-1.5vw;
            left: 50%;
            margin-top: 3vw;
            transform:translate3d(0,$dot-distance,0);
        }
        &.dot-down {
            bottom:0;
            margin-left:-1.5vw;
            left: 50%;
            margin-bottom: 3vw;
            transform:translate3d(0,-$dot-distance,0);
        }
    }
}