.pause-sidebar {
    width: 25%;
    height:100%;
    float:left;
    font-size:1.8vw;
    line-height:2.7vw;
    background:#111;
    color:#fff;
}
.pause-sidebar-profile {
    padding:1vw;
    line-height:2vw;
}
.pause-sidebar-avatar {
    display:block;
    width: 5vw;
    height: 5vw;
    margin-right:1vw;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/svJacob-2.svg), linear-gradient(-330deg, #58a, #ff0090);
    background-size:400%;
    background-position: 300% 100%;
}
.pause-sidebar-status {
    padding-left:1vw;
    padding-right:1vw;
    padding-bottom:1vw;
    border-bottom:1px solid #777;
}

.pause-sidebar-tabs {
    padding:1vw;
    .tab-item {
        padding-left:0.5vw;
        &.is-active {
            background:#fff;
            color:#111;
        }
    }
}

.pause-content {
    padding-top:2vw;
    padding-bottom:2vw;
    float:left;
    display:flex;
    flex-direction: column;
    width: 70%;
    height:100%;
    color:#fff;
}

/* Pause Content pages */
.pause-content-title,
.pause-content-body,
.pause-content-textbox {
    padding-left:4vw;
    padding-top:1vw;
    padding-bottom:1vw;
}

.pause-content-title {
    background:#111;
    font-size:3.3vw;
    text-transform: uppercase;
}
.pause-content-body {
    background:#2D2D2D;
    font-size:2vw;
    line-height:2.7vw;
    flex-grow:1;

    .pause-stat-item {
        margin-bottom:1vw;
        .pause-stat-value {
            padding-left:4vw;
            padding-right:4vw;
        }
    }
}
.pause-content-textbox {
    background:#393939;
    height:24%; /* If this is problematic, just use a fixed value based on the viewport class */
}