@each $size in 352, 528, 704, 880, 1056, 1232, 1408, 1584 {

    $cell: $size/11;
    $mapPush: $cell/2;
    .viewport-#{$size} {
        .mapImage {
            transform: translateY($mapPush+px)
        }
    }

    @keyframes walk-left-#{$size} {
        from {background-position: 0 0;}
        to {background-position:0 #{$cell*16}px;}
    }
    @keyframes walk-right-#{$size} {
        from {background-position: #{$cell*2}px 0;}
        to {background-position:#{$cell*2}px #{$cell*16}px;}
    }
    @keyframes walk-up-#{$size} {
        from {background-position: #{$cell*1}px 0;}
        to {background-position:#{$cell*1}px #{$cell*16}px;}
    }
    @keyframes walk-down-#{$size} {
        from {background-position: #{$cell*3}px 0;}
        to {background-position:#{$cell*3}px #{$cell*16}px;}
    }

    .viewport-#{$size} {
        width: #{$size}px;

        .viewport {
            width: $cell;
            height: $cell;
        }

        .cell.person-left { background-position: 0px #{$cell*1}px; }
        .cell.person-right { background-position: #{$cell*2}px #{$cell*1}px; }
        .cell.person-up { background-position: #{$cell*1}px #{$cell*1}px; }
        .cell.person-down { background-position: #{$cell*3}px #{$cell*1}px; }


        .cell.person-left.is-walking { animation: walk-left-#{$size} 2s steps(16) infinite }
        .cell.person-right.is-walking { animation: walk-right-#{$size} 2s steps(16) infinite }
        .cell.person-up.is-walking { animation: walk-up-#{$size} 2s steps(16) infinite }
        .cell.person-down.is-walking { animation: walk-down-#{$size} 2s steps(16) infinite }

    }

}

/* position the map */
/* http://codepen.io/punkydrewster713/pen/b04ce7c9a47dcda3700e1703de147967 */
//.viewport-352 .mapImage {
//    -webkit-transform: translateY(16px);
//    transform: translateY(16px);
//}
//
//.viewport-528 .mapImage {
//    -webkit-transform: translateY(24px);
//    transform: translateY(24px);
//}
//
//.viewport-704 .mapImage {
//    -webkit-transform: translateY(32px);
//    transform: translateY(32px);
//}
//
//.viewport-880 .mapImage {
//    -webkit-transform: translateY(40px);
//    transform: translateY(40px);
//}
//
//.viewport-1056 .mapImage {
//    -webkit-transform: translateY(48px);
//    transform: translateY(48px);
//}
//
//.viewport-1232 .mapImage {
//    -webkit-transform: translateY(56px);
//    transform: translateY(56px);
//}
//
//.viewport-1408 .mapImage {
//    -webkit-transform: translateY(64px);
//    transform: translateY(64px);
//}
//
//.viewport-1584 .mapImage {
//    -webkit-transform: translateY(72px);
//    transform: translateY(72px);
//}