@-webkit-keyframes walk-left-352 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 512px;
    }
}
@keyframes walk-left-352 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 512px;
    }
}
@-webkit-keyframes walk-right-352 {
    from {
        background-position: 64px 0;
    }
    to {
        background-position: 64px 512px;
    }
}
@keyframes walk-right-352 {
    from {
        background-position: 64px 0;
    }
    to {
        background-position: 64px 512px;
    }
}
@-webkit-keyframes walk-up-352 {
    from {
        background-position: 32px 0;
    }
    to {
        background-position: 32px 512px;
    }
}
@keyframes walk-up-352 {
    from {
        background-position: 32px 0;
    }
    to {
        background-position: 32px 512px;
    }
}
@-webkit-keyframes walk-down-352 {
    from {
        background-position: 96px 0;
    }
    to {
        background-position: 96px 512px;
    }
}
@keyframes walk-down-352 {
    from {
        background-position: 96px 0;
    }
    to {
        background-position: 96px 512px;
    }
}
.viewport-352 {
    width: 352px;
}
.viewport-352 .viewport {
    width: 32;
    height: 32;
}
.viewport-352 .cell.person-left {
    background-position: 0px 32px;
}
.viewport-352 .cell.person-right {
    background-position: 64px 32px;
}
.viewport-352 .cell.person-up {
    background-position: 32px 32px;
}
.viewport-352 .cell.person-down {
    background-position: 96px 32px;
}
.viewport-352 .cell.person-left.is-walking {
    -webkit-animation: walk-left-352 2s steps(16) infinite;
    animation: walk-left-352 2s steps(16) infinite;
}
.viewport-352 .cell.person-right.is-walking {
    -webkit-animation: walk-right-352 2s steps(16) infinite;
    animation: walk-right-352 2s steps(16) infinite;
}
.viewport-352 .cell.person-up.is-walking {
    -webkit-animation: walk-up-352 2s steps(16) infinite;
    animation: walk-up-352 2s steps(16) infinite;
}
.viewport-352 .cell.person-down.is-walking {
    -webkit-animation: walk-down-352 2s steps(16) infinite;
    animation: walk-down-352 2s steps(16) infinite;
}

@-webkit-keyframes walk-left-528 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 768px;
    }
}

@keyframes walk-left-528 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 768px;
    }
}
@-webkit-keyframes walk-right-528 {
    from {
        background-position: 96px 0;
    }
    to {
        background-position: 96px 768px;
    }
}
@keyframes walk-right-528 {
    from {
        background-position: 96px 0;
    }
    to {
        background-position: 96px 768px;
    }
}
@-webkit-keyframes walk-up-528 {
    from {
        background-position: 48px 0;
    }
    to {
        background-position: 48px 768px;
    }
}
@keyframes walk-up-528 {
    from {
        background-position: 48px 0;
    }
    to {
        background-position: 48px 768px;
    }
}
@-webkit-keyframes walk-down-528 {
    from {
        background-position: 144px 0;
    }
    to {
        background-position: 144px 768px;
    }
}
@keyframes walk-down-528 {
    from {
        background-position: 144px 0;
    }
    to {
        background-position: 144px 768px;
    }
}
.viewport-528 {
    width: 528px;
}
.viewport-528 .viewport {
    width: 48;
    height: 48;
}
.viewport-528 .cell.person-left {
    background-position: 0px 48px;
}
.viewport-528 .cell.person-right {
    background-position: 96px 48px;
}
.viewport-528 .cell.person-up {
    background-position: 48px 48px;
}
.viewport-528 .cell.person-down {
    background-position: 144px 48px;
}
.viewport-528 .cell.person-left.is-walking {
    -webkit-animation: walk-left-528 2s steps(16) infinite;
    animation: walk-left-528 2s steps(16) infinite;
}
.viewport-528 .cell.person-right.is-walking {
    -webkit-animation: walk-right-528 2s steps(16) infinite;
    animation: walk-right-528 2s steps(16) infinite;
}
.viewport-528 .cell.person-up.is-walking {
    -webkit-animation: walk-up-528 2s steps(16) infinite;
    animation: walk-up-528 2s steps(16) infinite;
}
.viewport-528 .cell.person-down.is-walking {
    -webkit-animation: walk-down-528 2s steps(16) infinite;
    animation: walk-down-528 2s steps(16) infinite;
}

@-webkit-keyframes walk-left-704 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 1024px;
    }
}

@keyframes walk-left-704 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 1024px;
    }
}
@-webkit-keyframes walk-right-704 {
    from {
        background-position: 128px 0;
    }
    to {
        background-position: 128px 1024px;
    }
}
@keyframes walk-right-704 {
    from {
        background-position: 128px 0;
    }
    to {
        background-position: 128px 1024px;
    }
}
@-webkit-keyframes walk-up-704 {
    from {
        background-position: 64px 0;
    }
    to {
        background-position: 64px 1024px;
    }
}
@keyframes walk-up-704 {
    from {
        background-position: 64px 0;
    }
    to {
        background-position: 64px 1024px;
    }
}
@-webkit-keyframes walk-down-704 {
    from {
        background-position: 192px 0;
    }
    to {
        background-position: 192px 1024px;
    }
}
@keyframes walk-down-704 {
    from {
        background-position: 192px 0;
    }
    to {
        background-position: 192px 1024px;
    }
}
.viewport-704 {
    width: 704px;
}
.viewport-704 .viewport {
    width: 64;
    height: 64;
}
.viewport-704 .cell.person-left {
    background-position: 0px 64px;
}
.viewport-704 .cell.person-right {
    background-position: 128px 64px;
}
.viewport-704 .cell.person-up {
    background-position: 64px 64px;
}
.viewport-704 .cell.person-down {
    background-position: 192px 64px;
}
.viewport-704 .cell.person-left.is-walking {
    -webkit-animation: walk-left-704 2s steps(16) infinite;
    animation: walk-left-704 2s steps(16) infinite;
}
.viewport-704 .cell.person-right.is-walking {
    -webkit-animation: walk-right-704 2s steps(16) infinite;
    animation: walk-right-704 2s steps(16) infinite;
}
.viewport-704 .cell.person-up.is-walking {
    -webkit-animation: walk-up-704 2s steps(16) infinite;
    animation: walk-up-704 2s steps(16) infinite;
}
.viewport-704 .cell.person-down.is-walking {
    -webkit-animation: walk-down-704 2s steps(16) infinite;
    animation: walk-down-704 2s steps(16) infinite;
}

@-webkit-keyframes walk-left-880 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 1280px;
    }
}

@keyframes walk-left-880 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 1280px;
    }
}
@-webkit-keyframes walk-right-880 {
    from {
        background-position: 160px 0;
    }
    to {
        background-position: 160px 1280px;
    }
}
@keyframes walk-right-880 {
    from {
        background-position: 160px 0;
    }
    to {
        background-position: 160px 1280px;
    }
}
@-webkit-keyframes walk-up-880 {
    from {
        background-position: 80px 0;
    }
    to {
        background-position: 80px 1280px;
    }
}
@keyframes walk-up-880 {
    from {
        background-position: 80px 0;
    }
    to {
        background-position: 80px 1280px;
    }
}
@-webkit-keyframes walk-down-880 {
    from {
        background-position: 240px 0;
    }
    to {
        background-position: 240px 1280px;
    }
}
@keyframes walk-down-880 {
    from {
        background-position: 240px 0;
    }
    to {
        background-position: 240px 1280px;
    }
}
.viewport-880 {
    width: 880px;
}
.viewport-880 .viewport {
    width: 80;
    height: 80;
}
.viewport-880 .cell.person-left {
    background-position: 0px 80px;
}
.viewport-880 .cell.person-right {
    background-position: 160px 80px;
}
.viewport-880 .cell.person-up {
    background-position: 80px 80px;
}
.viewport-880 .cell.person-down {
    background-position: 240px 80px;
}
.viewport-880 .cell.person-left.is-walking {
    -webkit-animation: walk-left-880 2s steps(16) infinite;
    animation: walk-left-880 2s steps(16) infinite;
}
.viewport-880 .cell.person-right.is-walking {
    -webkit-animation: walk-right-880 2s steps(16) infinite;
    animation: walk-right-880 2s steps(16) infinite;
}
.viewport-880 .cell.person-up.is-walking {
    -webkit-animation: walk-up-880 2s steps(16) infinite;
    animation: walk-up-880 2s steps(16) infinite;
}
.viewport-880 .cell.person-down.is-walking {
    -webkit-animation: walk-down-880 2s steps(16) infinite;
    animation: walk-down-880 2s steps(16) infinite;
}

@-webkit-keyframes walk-left-1056 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 1536px;
    }
}

@keyframes walk-left-1056 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 1536px;
    }
}
@-webkit-keyframes walk-right-1056 {
    from {
        background-position: 192px 0;
    }
    to {
        background-position: 192px 1536px;
    }
}
@keyframes walk-right-1056 {
    from {
        background-position: 192px 0;
    }
    to {
        background-position: 192px 1536px;
    }
}
@-webkit-keyframes walk-up-1056 {
    from {
        background-position: 96px 0;
    }
    to {
        background-position: 96px 1536px;
    }
}
@keyframes walk-up-1056 {
    from {
        background-position: 96px 0;
    }
    to {
        background-position: 96px 1536px;
    }
}
@-webkit-keyframes walk-down-1056 {
    from {
        background-position: 288px 0;
    }
    to {
        background-position: 288px 1536px;
    }
}
@keyframes walk-down-1056 {
    from {
        background-position: 288px 0;
    }
    to {
        background-position: 288px 1536px;
    }
}
.viewport-1056 {
    width: 1056px;
}
.viewport-1056 .viewport {
    width: 96px;
    height: 96px;
}
.viewport-1056 .cell.person-left {
    background-position: 0px 96px;
}
.viewport-1056 .cell.person-right {
    background-position: 192px 96px;
}
.viewport-1056 .cell.person-up {
    background-position: 96px 96px;
}
.viewport-1056 .cell.person-down {
    background-position: 288px 96px;
}
.viewport-1056 .cell.person-left.is-walking {
    -webkit-animation: walk-left-1056 2s steps(16) infinite;
    animation: walk-left-1056 2s steps(16) infinite;
}
.viewport-1056 .cell.person-right.is-walking {
    -webkit-animation: walk-right-1056 2s steps(16) infinite;
    animation: walk-right-1056 2s steps(16) infinite;
}
.viewport-1056 .cell.person-up.is-walking {
    -webkit-animation: walk-up-1056 2s steps(16) infinite;
    animation: walk-up-1056 2s steps(16) infinite;
}
.viewport-1056 .cell.person-down.is-walking {
    -webkit-animation: walk-down-1056 2s steps(16) infinite;
    animation: walk-down-1056 2s steps(16) infinite;
}

@-webkit-keyframes walk-left-1232 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 1792px;
    }
}

@keyframes walk-left-1232 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 1792px;
    }
}
@-webkit-keyframes walk-right-1232 {
    from {
        background-position: 224px 0;
    }
    to {
        background-position: 224px 1792px;
    }
}
@keyframes walk-right-1232 {
    from {
        background-position: 224px 0;
    }
    to {
        background-position: 224px 1792px;
    }
}
@-webkit-keyframes walk-up-1232 {
    from {
        background-position: 112px 0;
    }
    to {
        background-position: 112px 1792px;
    }
}
@keyframes walk-up-1232 {
    from {
        background-position: 112px 0;
    }
    to {
        background-position: 112px 1792px;
    }
}
@-webkit-keyframes walk-down-1232 {
    from {
        background-position: 336px 0;
    }
    to {
        background-position: 336px 1792px;
    }
}
@keyframes walk-down-1232 {
    from {
        background-position: 336px 0;
    }
    to {
        background-position: 336px 1792px;
    }
}
.viewport-1232 {
    width: 1232px;
}
.viewport-1232 .viewport {
    width: 112px;
    height: 112px;
}
.viewport-1232 .cell.person-left {
    background-position: 0px 112px;
}
.viewport-1232 .cell.person-right {
    background-position: 224px 112px;
}
.viewport-1232 .cell.person-up {
    background-position: 112px 112px;
}
.viewport-1232 .cell.person-down {
    background-position: 336px 112px;
}
.viewport-1232 .cell.person-left.is-walking {
    -webkit-animation: walk-left-1232 2s steps(16) infinite;
    animation: walk-left-1232 2s steps(16) infinite;
}
.viewport-1232 .cell.person-right.is-walking {
    -webkit-animation: walk-right-1232 2s steps(16) infinite;
    animation: walk-right-1232 2s steps(16) infinite;
}
.viewport-1232 .cell.person-up.is-walking {
    -webkit-animation: walk-up-1232 2s steps(16) infinite;
    animation: walk-up-1232 2s steps(16) infinite;
}
.viewport-1232 .cell.person-down.is-walking {
    -webkit-animation: walk-down-1232 2s steps(16) infinite;
    animation: walk-down-1232 2s steps(16) infinite;
}

@-webkit-keyframes walk-left-1408 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 2048px;
    }
}

@keyframes walk-left-1408 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 2048px;
    }
}
@-webkit-keyframes walk-right-1408 {
    from {
        background-position: 256px 0;
    }
    to {
        background-position: 256px 2048px;
    }
}
@keyframes walk-right-1408 {
    from {
        background-position: 256px 0;
    }
    to {
        background-position: 256px 2048px;
    }
}
@-webkit-keyframes walk-up-1408 {
    from {
        background-position: 128px 0;
    }
    to {
        background-position: 128px 2048px;
    }
}
@keyframes walk-up-1408 {
    from {
        background-position: 128px 0;
    }
    to {
        background-position: 128px 2048px;
    }
}
@-webkit-keyframes walk-down-1408 {
    from {
        background-position: 384px 0;
    }
    to {
        background-position: 384px 2048px;
    }
}
@keyframes walk-down-1408 {
    from {
        background-position: 384px 0;
    }
    to {
        background-position: 384px 2048px;
    }
}
.viewport-1408 {
    width: 1408px;
}
.viewport-1408 .viewport {
    width: 128px;
    height: 128px;
}
.viewport-1408 .cell.person-left {
    background-position: 0px 128px;
}
.viewport-1408 .cell.person-right {
    background-position: 256px 128px;
}
.viewport-1408 .cell.person-up {
    background-position: 128px 128px;
}
.viewport-1408 .cell.person-down {
    background-position: 384px 128px;
}
.viewport-1408 .cell.person-left.is-walking {
    -webkit-animation: walk-left-1408 2s steps(16) infinite;
    animation: walk-left-1408 2s steps(16) infinite;
}
.viewport-1408 .cell.person-right.is-walking {
    -webkit-animation: walk-right-1408 2s steps(16) infinite;
    animation: walk-right-1408 2s steps(16) infinite;
}
.viewport-1408 .cell.person-up.is-walking {
    -webkit-animation: walk-up-1408 2s steps(16) infinite;
    animation: walk-up-1408 2s steps(16) infinite;
}
.viewport-1408 .cell.person-down.is-walking {
    -webkit-animation: walk-down-1408 2s steps(16) infinite;
    animation: walk-down-1408 2s steps(16) infinite;
}

@-webkit-keyframes walk-left-1584 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 2304px;
    }
}

@keyframes walk-left-1584 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 2304px;
    }
}
@-webkit-keyframes walk-right-1584 {
    from {
        background-position: 288px 0;
    }
    to {
        background-position: 288px 2304px;
    }
}
@keyframes walk-right-1584 {
    from {
        background-position: 288px 0;
    }
    to {
        background-position: 288px 2304px;
    }
}
@-webkit-keyframes walk-up-1584 {
    from {
        background-position: 144px 0;
    }
    to {
        background-position: 144px 2304px;
    }
}
@keyframes walk-up-1584 {
    from {
        background-position: 144px 0;
    }
    to {
        background-position: 144px 2304px;
    }
}
@-webkit-keyframes walk-down-1584 {
    from {
        background-position: 432px 0;
    }
    to {
        background-position: 432px 2304px;
    }
}
@keyframes walk-down-1584 {
    from {
        background-position: 432px 0;
    }
    to {
        background-position: 432px 2304px;
    }
}
.viewport-1584 {
    width: 1584px;
}
.viewport-1584 .viewport {
    width: 144px;
    height: 144px;
}
.viewport-1584 .cell.person-left {
    background-position: 0px 144px;
}
.viewport-1584 .cell.person-right {
    background-position: 288px 144px;
}
.viewport-1584 .cell.person-up {
    background-position: 144px 144px;
}
.viewport-1584 .cell.person-down {
    background-position: 432px 144px;
}
.viewport-1584 .cell.person-left.is-walking {
    -webkit-animation: walk-left-1584 2s steps(16) infinite;
    animation: walk-left-1584 2s steps(16) infinite;
}
.viewport-1584 .cell.person-right.is-walking {
    -webkit-animation: walk-right-1584 2s steps(16) infinite;
    animation: walk-right-1584 2s steps(16) infinite;
}
.viewport-1584 .cell.person-up.is-walking {
    -webkit-animation: walk-up-1584 2s steps(16) infinite;
    animation: walk-up-1584 2s steps(16) infinite;
}
.viewport-1584 .cell.person-down.is-walking {
    -webkit-animation: walk-down-1584 2s steps(16) infinite;
    animation: walk-down-1584 2s steps(16) infinite;
}

/* position the map */
/* http://codepen.io/punkydrewster713/pen/b04ce7c9a47dcda3700e1703de147967 */
.viewport-352 .mapImage {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
}

.viewport-528 .mapImage {
    -webkit-transform: translateY(24px);
    transform: translateY(24px);
}

.viewport-704 .mapImage {
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
}

.viewport-880 .mapImage {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}

.viewport-1056 .mapImage {
    -webkit-transform: translateY(48px);
    transform: translateY(48px);
}

.viewport-1232 .mapImage {
    -webkit-transform: translateY(56px);
    transform: translateY(56px);
}

.viewport-1408 .mapImage {
    -webkit-transform: translateY(64px);
    transform: translateY(64px);
}

.viewport-1584 .mapImage {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}