@import 'reset';

/* TODO PUT EVERYTHING HERE IN BETTER FILES */
html, #app-root {
    height: 100%;
}

body {
    height: 100%;
    background-image: linear-gradient(#E8E8E8, #8E9092);
    overflow: hidden;
}


._ibm {
    display: inline-block;
    vertical-align: middle;
}
._ibb {
    display: inline-block;
    vertical-align: bottom;
}

._spreading-list-item {
    /* Text on left and right of container */
    display: flex;
    justify-content: space-between;
}


@import 'game';
@import 'battle';
@import 'battle-animations';
@import 'person';
@import 'pause';
@import 'mobile-dpad';